md-content {
  /*text-align: center;*/
}

#slideshow {
  width: 60vw;
  height: 60vh;
  position: relative;
}


#slideshow #image {
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*overflow: hidden;*/
  position: relative;
  transition: all 0.5s ease;

}

#slideshow #image:hover{
  cursor: pointer;
  -webkit-filter: brightness(60%);

}

#slideshow #image img {
  flex-shrink: 0;
  max-width: 80vw;
  height: 100%;
  /*min-height: 100%;*/
  position: relative;
  transition: all 0.5s ease;

}
#slideshow #image #actions{
  width: 100%;
  height: 100px;
  /*background-color: yellow;*/
  position: absolute;
  display: block;
  z-index: 1
}
#settings {
  display: none;
}


.sepia {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  transition: all 0.5s ease;
}

.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  transition: all 0.5s ease;
}

.hue {
  -webkit-filter: hue-rotate(60deg);
  filter: hue-rotate(60deg);
  transition: all 0.5s ease;
}
