<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="css/lab12.css">

    <title>Lab 12</title>
  </head>
  <body>
      <div ng-app="Lab12">
        <div ng-controller="MainController">
          <md-toolbar>
            <div class="md-toolbar-tools">
              <span >Lab 12</span>
              <span flex></span>
              <span >Conor Amanatullah</span>
            </div>
          </md-toolbar>
          <md-content>
            <md-button id="button1" class="md-raised" ng-model="button1">Toggle 1</md-button>
            <md-button id="button2" class="md-raised" ng-model="button2">Toggle 2</md-button>
            <md-button id="button3" class="md-raised" ng-model="button3">Toggle 3</md-button>

            <div id="slideshow">
              <!-- <div id="left-button">
                <i class="material-icons">keyboard_arrow_left</i>
              </div>
              <div id="right-button">
                <i class="material-icons">keyboard_arrow_right</i>
              </div> -->
              <div id="image" layout>

                <img src="http://i0.kym-cdn.com/photos/images/facebook/000/632/652/6ca.jpg" alt="" />
                <!-- <br> -->

              </div>

            </div>
          </md-content>
        </div>
      </div>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

      <script type="text/javascript" src="js/jquery-3.1.1.js"></script>
      <script type="text/javascript" src="js/lab12.js"></script>
  </body>
</html>
