<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="css/lab12.css">

    <title>Lab 12</title>
  </head>
  <body>
      <div ng-app="Lab12">
        <div ng-controller="MainController">
          <md-toolbar>
            <div class="md-toolbar-tools">
              <span >Lab 12 + 13</span>
              <span flex></span>
              <span >Conor Amanatullah</span>
            </div>
          </md-toolbar>
          <md-content>
            <md-button id="open-settings" class="">Settings</md-button>
            <div id="settings" class="md-whiteframe-z5">
              <md-button id="button1" class="md-raised md-accent" ng-model="button1" ng-disabled="invert || hue" ng-click="sepia = !sepia">Sepia</md-button>
              <md-button id="button2" class="md-raised md-accent" ng-model="button2" ng-disabled="sepia || hue" ng-click="invert = !invert">Invert</md-button>
              <md-button id="button3" class="md-raised md-accent" ng-model="button3" ng-disabled="sepia || invert" ng-click="hue = !hue">Hue</md-button>
            </div>


            <div id="slideshow" >
              <div id="image"  layout>
                <img class="md-whiteframe-z4"   src="http://i0.kym-cdn.com/photos/images/facebook/000/632/652/6ca.jpg" alt="" />
                <!-- <br> -->
              </div>

            </div>
          </md-content>
        </div>
      </div>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

      <script type="text/javascript" src="js/jquery-3.1.1.js"></script>
      <script type="text/javascript" src="js/lab12.js"></script>
  </body>
</html>
